@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */

  
/* Handle */
::-webkit-scrollbar-thumb {
@apply bg-tred rounded-lg
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   @apply shadow-tred shadow-lg
}
