
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
   
}

::-webkit-scrollbar {
    @apply w-[0px] md:w-[1px]
}
  
/* Track */

  
/* Handle */
::-webkit-scrollbar-thumb {
@apply bg-tred rounded-lg
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   @apply shadow-tred shadow-lg
}
.div-title{
    font-family: 'Caveat', cursive;
}